:root {
  /* !hero */
  /* colors */
  --dark_Bg: #1f2937;
  --hero_text: #f9faf8;
  --hero_color: #e5e7eb;
  /* font sizes */
  --hero_font: 48px;
  --hero_secondary: 18px;
  --Logo_font: 24px;

  /* ?CTA / info*/
  --button_main: #3882f6;
  --info_font: 36px;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid blue; */
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: var(--dark_Bg);
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}

.header__logo a {
  font-size: var(--Logo_font);
  color: var(--hero_text);
  font-weight: 900;
  text-decoration: none;
}

.nav {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.nav .nav__item a {
  color: var(--hero_color);
  font-size: var(--hero_secondary);
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  row-gap: 5rem;
  flex-wrap: wrap;
}

.hero__text {
  gap: 0.7rem;
  display: flex;
  flex-direction: column;
  max-width: 35%;
}

.hero__title {
  font-size: var(--hero_font);
  color: var(--hero_text);
  font-weight: 900;
}

.hero__intro {
  font-size: var(--hero_secondary);
  color: var(--hero_text);
}

.cta {
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: var(--button_main);
  color: var(--hero_text);
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-weight: 900;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 4rem;
  margin-bottom: 7rem;
  gap: 4rem;
}

.info__title {
  text-align: center;
  font-size: var(--info_font);
  color: var(--dark_Bg);
  font-weight: bolder;
}

.info__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.info__item {
  max-width: 10rem;
  max-height: 20rem;
  text-align: center;
}
.info__description::before {
  content: "";
  display: block;
  height: 10rem;
  border: 5px solid rgb(156, 133, 19);
  border-radius: 10px;
  margin-bottom: 10px;
}

.quote {
  background-color: var(--hero_color);
  text-align: center;
  font-size: var(--info_font);
  font-weight: 400;
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote__text {
  word-wrap: break-word;
}

.quote__author {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
  font-weight: 700;
}

.cta__section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button_main);
  border-radius: 5px;
  padding: 3rem 0;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.cta__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  width: 100%;
  flex-wrap: wrap;
}

.cta__text {
  color: var(--hero_text);
}

.cta--secondary {
  border: 2px solid var(--hero_text);
  margin: 0;
}

.footer {
  background-color: var(--dark_Bg);
  color: var(--hero_text);
  text-align: center;
  padding: 2rem;
  flex-shrink: 0;
}
